# Kafka Settings
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# MySQL Settings
MYSQL_HOST=mysql
MYSQL_USER=root
MYSQL_PASSWORD=rootpassword
MYSQL_DATABASE=orderdb
MYSQL_ORDER_DATABASE=orderdb

# Service Specifics
PORT=8080
